*{
     font-family: "Noto Serif", serif;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     background-color: #F5F8FF;
}

/* shared styles */
.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* navbar */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links ul{
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.links ul li{
     list-style: none;
}

.links ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1rem;
}

/* banner */
.banner{
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 200px;
}

.banner-left h2{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner-left p, .heading p{
    font-weight: 400;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}

.orange{
    color: #E95A08;
}

.banner-right img{
    display: block;
    width: 570px;
    height: 355px;
    width: 100%;
}
 
/* our plants section */
.our-plants{
    margin-top: 120px;
}

.heading{
    text-align: center;
}

.heading h3{
    font-size: 2.5rem;
    font-weight: 700;
}


.all-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.flower-cards{
    text-align: center;
}

.flower-cards img{
    width: 200px;
    height: 250px;
}

.flower-cards img{
    margin-top: 50px;
}
.flower-cards h4{
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 500;
}

.flower-cards p{
    font-weight: 700;
    font-size: 1.25rem;
}

.btn{
    margin: 30px 0px;
    width: 200px;
    height: 50px;
    color: white;
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}

/* responsive design for iphone 14 and 15 pro-max */
 @media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse; 
        margin:0 auto; 
        align-items: center;
    }

    .banner-left h2, .banner-left p{
        margin-left: 15px;
    }

    .heading p, .heading h3{
        margin-right: 15px;
    }

    .banner-right img{
        width: 100%;
    }

    .links ul li{
        display: none;
    }

    .all-cards{
         grid-template-columns:repeat(2, 1fr);
    }

    .heading{
    text-align: center;
    margin-left: 20px;
    }
 }